# Scratchwork
scratch/

# CMake's scratchwork.
build/

# Don't track documentation in master.
doc/

# Compiler
craeftc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# YouCompleteMe
.ycm_*

# Vim
.*.swp

# I like to call temporary files for storing random crap one of these.
log
tmp
